<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="/assets/measuring-tape.png" />
		<title>Body tracker - The helpful weight loss tracker</title>
		<meta
			name="description"
			content="The weight and measurement logging app that gives you helpful screens, stats and visualizations to help you along the way. Be in full control of your body goals."
		/>
		<link rel="stylesheet" href="css/main.css" />
		<% if (process.env.NODE_ENV === 'production') { %>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS_MEASUREMENT_ID %>"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', '<%= process.env.GOOGLE_ANALYTICS_MEASUREMENT_ID %>');
		</script>
		<% } %>
	</head>
	<body>
		<section class="hero is-medium is-primary">
			<div class="hero-body">
				<div class="container">
					<div class="columns is-vcentered is-desktop">
						<div class="column is-one-third-desktop">
							<h1 class="title">Get control of your weight loss goals.</h1>
							<h2 class="subtitle">
								Track with Bodytracker and get helpful stats and visualizations
								that motivate progress.
							</h2>
							<a
								class="button is-primary is-large is-inverted"
								href="https://app.bodytracker.ca"
								<% if (process.env.NODE_ENV === 'production') { %>
								onclick="gtag('event', 'clicked_cta')"
								<% } %>
							>
								Start tracking for free →
							</a>
						</div>
						<div class="column">
							<div class="columns is-centered is-desktop">
								<div class="column is-two-thirds-touch mx-auto">
									<img
										src="/assets/hero-1.png"
										alt="Bodytracker with stats showing weight loss"
									/>
								</div>
								<div class="column is-two-thirds-touch mx-auto">
									<img
										src="/assets/hero.png"
										alt="Bodytracker with charts showing weight loss over a month"
									/>
								</div>
								<div class="column is-two-thirds-touch mx-auto">
									<img
										src="/assets/hero-2.png"
										alt="Bodytracker with history entries that compare weight loss weekly"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer has-text-centered">
			<div class="container">
				<a href="https://tweeres.ca">&copy; Tyler Weeres</a>
			</div>
		</footer>
	</body>
</html>
