<!DOCTYPE html>
<% const isProduction = process.env.NODE_ENV === 'production'; %>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="/assets/measuring-tape.png" />

		<!-- HTML Meta Tags -->
		<title>Body tracker - The helpful weight loss tracker</title>
		<meta
			name="description"
			content="The weight and measurement logging app that gives you helpful screens, stats and visualizations to help you along the way. Take full control of your body goals."
		/>
		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://www.bodytracker.ca" />
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="Body tracker - The helpful weight loss tracker"
		/>
		<meta
			property="og:description"
			content="The weight and measurement logging app that gives you helpful screens, stats and visualizations to help you along the way. Take full control of your body goals."
		/>
		<meta
			property="og:image"
			content="https://bodytracker.ca/assets/share.png"
		/>
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="bodytracker.ca" />
		<meta property="twitter:url" content="https://www.bodytracker.ca" />
		<meta
			name="twitter:title"
			content="Body tracker - The helpful weight loss tracker"
		/>
		<meta
			name="twitter:description"
			content="The weight and measurement logging app that gives you helpful screens, stats and visualizations to help you along the way. Take full control of your body goals."
		/>
		<meta
			name="twitter:image"
			content="https://bodytracker.ca/assets/share.png"
		/>

		<link rel="stylesheet" href="css/main.css" />
		<% if (isProduction) { %>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS_MEASUREMENT_ID %>"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', '<%= process.env.GOOGLE_ANALYTICS_MEASUREMENT_ID %>');
		</script>
		<% } %>
	</head>
	<body>
		<section class="hero is-medium is-primary">
			<div class="hero-body">
				<div class="container">
					<div class="columns is-vcentered is-desktop">
						<div class="column is-one-third-desktop">
							<h1 class="title">Get control of your weight loss goals.</h1>
							<h2 class="subtitle">
								Track with Bodytracker and get helpful stats and visualizations
								that motivate progress.
							</h2>
							<a
								class="button is-primary is-large is-inverted"
								href="https://app.bodytracker.ca"
								id="hero-cta"
							>
								Start tracking for free →
							</a>
						</div>
						<div class="column">
							<div class="columns is-centered is-desktop">
								<div class="column is-two-thirds-touch mx-auto">
									<img
										src="/assets/hero-1.png"
										alt="Bodytracker with stats showing weight loss for the past week, month, and 3 months"
									/>
								</div>
								<div class="column is-two-thirds-touch mx-auto">
									<img
										src="/assets/hero.png"
										alt="Bodytracker with charts showing weight loss over a month"
									/>
								</div>
								<div class="column is-two-thirds-touch mx-auto">
									<img
										src="/assets/hero-2.png"
										alt="Bodytracker with history entries that compare weight loss weekly"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer has-text-centered">
			<div class="container">
				<a href="https://tweeres.ca">&copy; Tyler Weeres</a>
			</div>
		</footer>
		<% if (isProduction) { %>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				document
					.getElementById('hero-cta')
					.addEventListener('click', function (e) {
						gtag('event', 'clicked_cta', {
							event_callback: function () {
								document.location = e.target.href;
							},
						});
					});
			});
		</script>
		<% } %>
	</body>
</html>
